body{
    margin:10px;
}
.tabela{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
.tabela th{
    background-color:brown;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
.tabela tr:nth-child(even){background-color:lightgray;}
.tabela tr:hover{background-color:rgb(170, 170, 170);}
.tabela td,.tabela th{
    border: 1px solid #ddd;
    padding:5px;
}
input[type=button]{
    float: right;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgb(73, 73, 73);
}
input[type=button]:hover{
    background-color: dimgray;
}
input[type=text],select{
    display: inline-block;
    box-sizing: border-box;
    width:50%;
    border: 1px solid #ccc;
    margin: 8px 0;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: large;
}
input[type=date]{
    
    display: inline-block;
    box-sizing: border-box;
    width:50%;
    border: 1px solid #ccc;
    margin: 8px 0;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: large;

}
input[type=radio]{
    
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 8px 0;
    padding: 3px 6px;
    border-radius: 4px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
}
input[type=submit]{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgb(114, 108, 108);
    font-size: large;

}
input[type=submit]:hover{
    background-color: gray;
}